PROFILE=prod
API_PORT=8080


DEV_DB_HOST=localhost
DEV_DB_PORT=3306
DEV_DB_NAME=association
DEV_DB_USER=user
DEV_DB_PASSWORD=password


PROD_DB_HOST=db
PROD_DB_PORT=3306
PROD_DB_NAME=association
PROD_DB_USER=association_app
PROD_DB_PASSWORD=change_me_db_password
PROD_DB_ROOT_PASSWORD=change_me_root_password
